<ion-view title="" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <h1 id="page7-heading1" style="color:#040105;text-align:center;" class=" ">HR MANAGER</h1>
        <form id="page7-form4" class="list ">
            <div class="spacer" style="width: 300px; height: 54px;"></div>
            <h5 id="page7-heading3" style="color:#0E0101;" class=" ">Login to your account:</h5>
            <ion-list id="page7-list9" class=" ">
                <label class="item item-input " id="page7-input1" name="Username">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input " id="page7-input2" name="Password">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 11px;"></div>
            <button id="page7-button1" style="text-align:left;" class=" button button-positive  ">Log in</button>
            <div class="spacer" style="width: 300px; height: 34px;"></div>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="page7-button2" style="font-weight:500;color:#0C0B0B;" class=" button button-calm  button-block button-outline ">CREATE AN ACCOUNT</a>
        </form>
    </ion-content>
</ion-view>