<ion-view title="Signup" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form5" class="list ">
            <h5 id="signup-heading4" style="color:#070606;" class=" ">Enter your personal account:</h5>
            <ion-list id="signup-list10" class=" ">
                <label class="item item-input " id="signup-input3" name="First Name">
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input " id="signup-input6" name="Last Name">
                    <input type="text" placeholder="Last Name">
                </label>
                <label class="item item-input " id="signup-input7" name="Address">
                    <input type="text" placeholder="Address">
                </label>
                <label class="item item-input " id="signup-input8" name="Phone Number">
                    <input type="tel" placeholder="Phone Number">
                </label>
                <label class="item item-input " id="signup-input9" name="Email">
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input " id="signup-input4" name="Username">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input " id="signup-input5" name="Password">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 39px;"></div>
            <div id="signup-button-bar1" class=" button-bar ">
                <button id="signup-button4" class=" button button-positive  button-block ">Register</button>
                <a ui-sref="page7" id="signup-button5" class=" button button-assertive  button-block ">Back</a>
            </div>
        </form>
    </ion-content>
</ion-view>